@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

h2 {
    font-size: 1.8rem;
    font-weight: 600;
}

h3 {
    font-size: 1.4rem;
    font-weight: 800;
}

h4 {
    font-size: 1.1rem;
    font-weight: 600;
}

h5 {
    font-size: 1rem;
    font-weight: 400;
    color: #1D1D1D;
}

h6 {
    color: #2b2323;
}

hr {
    width: 30px;
    height: 2px;
    background-color: #c9bd19;
}


.star {
    padding: 10px 0;
}
.star i {
    font-size: 0.8rem;
    color: goldenrod;
}

button {
    font-size: 0.8rem;
    font-weight:700;
    outline: none;
    border: none;
   
    color: #c9bd19;
    padding: 13px 30px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    background-color:  #111111;
}
.navbar {
    font-size: 16px;
    background-color: black;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}


.navbar-light .navbar-collapse .navbar-nav .nav-link {
    padding: 0 20px;
    color: #c9bd19;
    transition: 0.2s ease;
    font-weight: 700;

}

.navbar-light .navbar-collapse .navbar-nav .nav-link:hover,
.navbar i:hover,
.navbar-light .navbar-collapse .navbar-nav .nav-link:active,
.navbar i:active {
    color: white;
}

.navbar i {
    font-size: 1.2rem;
    padding: 0 7px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s ease;
    color: #c9bd19;
}

#logo {
    color: white;
    text-align: center;
}

#logo span{
    color: #c9bd19;
    
}



#home span{
    color: #c9bd19;
}

#home {
    background-repeat: no-repeat;
    background-position: center  right;
    height: 100vh;
    position: relative;
    max-width: 89%;
}

#home .banner-home{
    position: relative;
    top: 14rem;
    left: 4rem;
    display: flex;
}

#home .banner-home:nth-child(1) img{
    position: absolute;
    right: -5.5rem;
}


#home .barra-horizontal {
    width: 99vw;
    height: 10vh;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#home .barra-horizontal img {
    width: 100px;
    
}

.ofer {
    display: flex;
    justify-content: s
}


/*produtos*/
.product {
    cursor: pointer;
    margin-bottom: 2rem;

}

.product img{
    transition: 0.3s all;
}

.product:hover img{
    opacity: 0.8;

}

.product .buy-btn{
    background:#c9bd19;
    color: #111111;
    transform: translateY(20px);
    opacity: 0;
    transition: 0.3 all;

}

.product:hover .buy-btn{
    transform: translateY(0);
    opacity: 1;
}


#banner {
    background-image: url("/assests/img/bg-banner.jpg");
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: top 70px center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
}

#banner h4, h1{
    color: #c9bd19;
}

footer a, p{
    color: #c5c4b3; ;
}

footer a:hover{
    color: #c9bd19;
    text-decoration: none;
}


footer h5, h6{
    font-size: 1.2rem;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.644);
}

footer .copyright .container .col-lg-4 img{
    padding-bottom: 100px;
}
/*nav mobile*/
@media only screen and (max-width:991px) {
    #navbarSupportedContent > ul{
        margin: -1rem;
        margin-top: 0;
        display: flex;
        align-items: flex-end;
        
    }
    #home {
        position: relative;
        left: -4rem;
    }

    #home .banner-home h1, h5, p, .home-bg {
        display: none;
    }

    #home .banner-home{
        position: relative;
        top: 12rem;
        
    }

    #home .banner-home button{
        position: absolute;
        top: -5rem;
        font-size: 10px;
    }

    .home-mobile{
        width: 600px;
        height: 80vh;
        background-image: url("/assests/img/bg-mobile.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    #home .banner-home .home-bg {
     position: relative;
     left: 10rem;
        
    }

    #home .barra-horizontal {
        position: relative;
        left: 4rem;
        bottom: -9rem;
    }

    #ofertas{
        padding-top: 35px;
    }

}